
/*
  css for overall look
*/

html{
  /*background-color: #6090F0;*/
}

body{
  background-color:#2ba6cb;
  background-image: url("/images/background.png");
  background-size: 100% 100%;
  background-attachment: fixed;
}
h1{
  display: inline;
  font-size: 64px;
  color:black;
}

ul{
  list-style-type:none;
}

h4{
  margin-left: 200px;
}

.main {
  background-color: #F0F0F0;
}

.main div {
  animation: fadein 1s;
  -moz-animation: fadein 1s; /* Firefox */
  -webkit-animation: fadein 1s; /* Safari and Chrome */
  -o-animation: fadein 1s; /* Opera */
}

.navbar {
  margin-bottom: 0px;
}
/*
  ---------------------------
*/

/*
  Home (Score page)
*/
#score{
  position: relative;
  width: 150px;
  background-color: blue;
  margin-left: auto;
  margin-right: auto;
  margin-top: 19%;
}

#startGame, #Rematch, #newGame {
  display: none;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #42d934;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin-left: 200px;
}

#startGame:hover, #Rematch:hover, #newGame:hover {
  background: #56fc3c;
  text-decoration: none;
}

.Scoreboard{
  position: relative;
  margin:0 auto;
  border: 1px solid black;
  width: 800px;
  height: 500px;
}

.Scoreboard img{
  position: absolute;
  bottom: 0;
  width: 100px;
  height: 123px;
}

.TopScore{
  float: right;
  width: 450px;
  border: 1px solid black;
}

.TopScore td {
    border: 1px solid white;
    background-color: #6090F0;
    color: white;
    width: 30%;
}

.TopScore th {
    border: 1px solid white;
    background-color: #6090F0;
    color: white;
}

/*
  --------------------------
*/

/*
  User list (Score page)
*/
.Users{
  border: 1px solid black;
  width: 200px;
  height: 200px;
  padding:10px;
  margin-top: 20px;
}

.Users img{
  position: absolute;
  margin-right: auto;
  margin-left: auto;
  height: 123px;
  width: 100px;
}

.profilePic{
  width: 100px;
  height: auto;
}
/*
  --------------------------
*/

/*
  UserbyId
*/
.profile{
  width: 100%;
  overflow:hidden;
}

.profile .profileImg {
  width: 25%;
  float: left;
}

.profile .profileInfo {
  width: 75%;
  float: left;
}

.profile .profileInfo div {
  margin-top: 20px;
}

.scoreProgress{
  overflow:hidden;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  background-color: #E3E3E3;
  border: 1px solid black;
}

.scoreProgress .spText {
  width: 20%;
  float: left;
  margin-top: 20px;
}

.scoreProgress .spBar {
  width: 60%;
  float: left;
  margin-top: 20px;
}

.usersTop {
  margin-top: 30px;
}

.centeredT {
  text-align: center;
}

.progress {background: rgba(222, 76, 76, 1); background: -webkit-linear-gradient(top, rgba(171, 46, 46, 1) 0%, rgba(222, 76, 76, 1) 100%); background: linear-gradient(to bottom, rgba(171, 46, 46, 1) 0%, rgba(222, 76, 76, 1) 100%); border: 1px solid rgba(0, 0, 0, 1); border-radius: 3px; height: 50px;}
.progress-bar-custom {background: rgba(65, 201, 103, 1); background: -webkit-linear-gradient(top, rgba(87, 156, 97, 1) 0%, rgba(65, 201, 103, 1) 100%); background: linear-gradient(to bottom, rgba(87, 156, 97, 1) 0%, rgba(65, 201, 103, 1) 100%);}
/*
  --------------------------
*/

/*
  Animations
*/
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
/*
  --------------------------
*/


