html{
      background-color: #6090F0;
    }
    h1{
      display: inline;
      font-size: 64px;
      color:white;
    }
    #score{
      position: relative;
      width: 150px;
      background-color: blue;
      margin-left: auto;
      margin-right: auto;
      margin-top: 19%;
    }
    
  ul{
    list-style-type:none;

  }

  .players{
    margin-left: 100px;
    margin-right: 100px;
  }

  h4{
    margin-left: 200px;
  }

  .Users{
    border: 1px solid black;
    width: 200px;
    height: 200px;
    padding:10px;
    margin-top: 20px;
  }

  .Users img{
    position: absolute;
    bottom: 5px;
    margin-right: auto;
    margin-left: auto;
    height: 123px;
    width: 100px;
  }


  #startGame {
  display: none;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #42d934;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin-left: 200px;
}


#startGame:hover {
  background: #56fc3c;
  text-decoration: none;
}

.profilePic{
  
  width: 100px;
  height: auto;
}

.Scoreboard{
  position: relative;
  border: 1px solid black;
  width: 600px;
  height: 300px;
}

.Scoreboard img{
  position: absolute; 
  bottom: 0;
  width: 100px;
  height: 123px;
}