<div class="container main">
	<div class="col-md-4"id="addUserContainer">

		<div class="alert alert-danger" ng-cloak ng-show="errorMessagePassword != ''"> 
			{{errorMessagePassword}}
		</div>

		<label for="password" id="passwordLabel">Please enter your OLD password</label><br>
		<input type="password" id="password" ng-model="password"/><br>
		<label for="newPassword" id="passwordLabel">Please enter your NEW password</label><br>
		<input type="password" id="password" ng-model="newPassword"/><br>
		<label for="newPassword2" id="passwordLabel">Please retype the NEW password</label><br>
		<input type="password" id="password" ng-model="newPassword2" ng-match="newPassword"/><br>

		<button class="addUserButton" ng-click="saveNewPassword(password, newPassword)">Change password</button>
	</div>
</div>