
<div class="container main">
<div id = "homeWindow">

	<div class="scoreboardContainer col-xs-12 col-md-7" style="margin-top:10px;">
		<div class="ScoreboardHome">
		<div style="height:100%; width:50%; margin-left:auto; margin-right:auto; border: 1px solid black;"></div>
			<div id="scoreHome" style="position:absolute;margin: auto; left: 0; right: 0; top:0;bottom:0; height:125px;">
		      	<h1 id="team1" style="float: left;"/>
		      	<h1 id="team2" style="float: right;"/>
		    </div>
			<img class="homeProfile" src="{{player11.ImagePath}}" ng-click="clickplayer(11)" style="position: absolute; top: 0; left: 0;">
			<img class="homeProfile" src="{{player12.ImagePath}}" ng-click="clickplayer(12)" style="position: absolute; bottom: 0; left: 0;">
			<img class="homeProfile" src="{{player21.ImagePath}}" ng-click="clickplayer(21)" style="position: absolute; top: 0; right: 0;">
			<img class="homeProfile" src="{{player22.ImagePath}}" ng-click="clickplayer(22)" style="position: absolute; bottom: 0; right: 0;">
		</div>
	</div>

	<div class="topScoreContainer col-xs-12 col-md-5">
		<table class="TopScore">
		  <tr>
		    <th>Rank</th>
		    <th>Name</th>
		    <th>Rating</th>
		  </tr>
		  <tr ng-repeat="user in topList | limitTo:10">
		    <td>{{$index + 1}}</td>
		    <td>{{user.Name}}</td>
		    <td>{{user.ELO | number:0}}</td>
		  </tr>
		</table>
	</div>
</div>
</div>