
<div class="container main">
<div id = "homeWindow">

	<div class="scoreboardContainer col-xs-12 col-md-7" style="margin-top:20px;">
		<div class="ScoreboardHome">
			<div id="score">
		      	<h1 id="team1" style="float: left;"/>
		      	<h1 id="team2" style="float: right;"/>
		    </div>
			<img class="homeProfile" src="{{player11.ImagePath}}" ng-click="clickplayer(11)" style="position: absolute; top: 10px; left: 10px;">
			<img class="homeProfile" src="{{player12.ImagePath}}" ng-click="clickplayer(12)" style="position: absolute; bottom: 10px; left: 10px;">
			<img class="homeProfile" src="{{player21.ImagePath}}" ng-click="clickplayer(21)" style="position: absolute; top: 10px; right: 10px;">
			<img class="homeProfile" src="{{player22.ImagePath}}" ng-click="clickplayer(22)" style="position: absolute; bottom: 10px; right: 10px;">
		</div>
	</div>

	<div class="topScoreContainer col-xs-12 col-md-5">
		<table class="TopScore">
		  <tr>
		    <th>Rank</th>
		    <th>Name</th>
		    <th>Rating</th>
		  </tr>
		  <tr ng-repeat="user in topList | limitTo:10">
		    <td>{{user.Rown}}</td>
		    <td>{{user.Name}}</td>
		    <td>{{user.ELO | number:0}}</td>
		  </tr>
		</table>
	</div>
</div>
</div>