<div id="container main">
<div id="statMenu" >
	<h2 id="statMenuTitle">Top 10</h2>
	<div id="lis1" class="col-xs-6 col-md-3 ng-scope"><div class="thumbnail">Slowest Goals</div></div>
	<div id="lis2" class="col-xs-6 col-md-3 ng-scope"><div class="thumbnail">Slowest Games</div></div>
	<div id="lis3" class="col-xs-6 col-md-3 ng-scope"><div class="thumbnail">Quickest Goals</div></div>
	<div id="lis4" class="col-xs-6 col-md-3 ng-scope"><div class="thumbnail">Quickest Games</div></div>
	<div id="lis5" class="col-xs-6 col-md-3 ng-scope"><div class="thumbnail">Highest ELO</div></div>
	<div id="lis6" class="col-xs-6 col-md-3 ng-scope"><div class="thumbnail">Greatest Comebacks</div></div>
	<div id="lis7" class="col-xs-6 col-md-3 ng-scope"><div class="thumbnail">Fastest Players</div></div>
	</div>
<div id="StatsTable" class="container">
	
	<div style="display:none" id = "l1">
	<h2>Top 10 Slowest Goals</h2>
	<table align="center">
		<tr>
			<th>Place</th>
			<th>Team</th>
			<th></th>
			<th>Date</th>
			<th>Time</th>
		</tr>
		<tr ng-repeat="x in slowgoalarr">
				<td>{{$index + 1}}.</td>
				<td ng-click="seePlayer(x.user1Id)"><img ng-src="{{x.user1Img}}" height="80" width="60">  {{x.user1}}</img></td>
				<td ng-click="seePlayer(x.user2Id)"><img ng-src="{{x.user2Img}}" height="80" width="60">  {{x.user2}}</img></td>
				<td>{{x.date}}</td>
				<td>{{x.diffsec}}s</td>
		</tr>
	</table>
	</div>
	
	<div style="display:none" id="l2">
		<h2>Top 10 Slowest Games</h2>
	
		<table align="center">
		<tr>
			<th>Place</th>
			<th>Team 1</th>
			<th>Team 2</th>
			<th>Time</th>
		</tr>
		<tr ng-repeat="x in slowgamearr">
				<td>{{$index + 1}}.</td>
				<td>
					<div ng-click="seePlayer(x.user1Id)"><img ng-src="{{x.user1Img}}" height="80" width="60">  {{x.user1}}</img></div>
					<div ng-click="seePlayer(x.user2Id)"><img ng-src="{{x.user2Img}}" height="80" width="60">  {{x.user2}}</img></div>
				</td>
				<td>
					<div ng-click="seePlayer(x.user3Id)"><img ng-src="{{x.user3Img}}" height="80" width="60">  {{x.user3}}</img></div>
					<div ng-click="seePlayer(x.user4Id)"><img ng-src="{{x.user4Img}}" height="80" width="60">  {{x.user4}}</img></div>
				</td>
				<td>{{x.diffsec}}s</td>
		</tr>
		</table>
	</div>
	
	<div style="display:none" id="l3">
		<h2>Top 10 Quickest Goals</h2>
	
	<table align="center">
		<tr>
			<th>Place</th>
			<th>Team</th>
			<th></th>
			<th>Date</th>
			<th>Time</th>
		</tr>
		<tr ng-repeat="x in quickgoalarr">
				<td>{{$index + 1}}.</td>
				<td ng-click="seePlayer(x.user1Id)"><img ng-src="{{x.user1Img}}" height="80" width="60">  {{x.user1}}</img></td>
				<td ng-click="seePlayer(x.user2Id)"><img ng-src="{{x.user2Img}}" height="80" width="60">  {{x.user2}}</img></td>
				<td>{{x.date}}</td>
				<td>{{x.diffsec}}s</td>
		</tr>
	</table>
	</div>
	<div style="display:none" id="l4">
		<h2>Top 10 Quickest Games</h2>
	
		<table align="center">
		<tr>
			<th>Place</th>
			<th>Team 1</th>
			<th>Team 2</th>
			<th>Time</th>
		</tr>
		<tr ng-repeat="x in quickgamearr">
				<td>{{$index + 1}}.</td>
				<td>
					<div ng-click="seePlayer(x.user1Id)"><img ng-src="{{x.user1Img}}" height="80" width="60">  {{x.user1}}</img></div>
					<div ng-click="seePlayer(x.user2Id)"><img ng-src="{{x.user2Img}}" height="80" width="60">  {{x.user2}}</img></div>
				</td>
				<td>
					<div ng-click="seePlayer(x.user3Id)"><img ng-src="{{x.user3Img}}" height="80" width="60">  {{x.user3}}</img></div>
					<div ng-click="seePlayer(x.user4Id)"><img ng-src="{{x.user4Img}}" height="80" width="60">  {{x.user4}}</img></div>
				</td>
				<td>{{x.diffsec}}s</td>
		</tr>
		</table>
	</div>
	<div style="display:none" id="l5">
		<h2>Top 10 Highest ELO</h2>
	<table align="center">
		<tr>
			<th>Place</th>
			<th>Player</th>
			<th>ELO Pts</th>
		</tr>
		<tr ng-repeat="x in eloarr">
				<td>{{$index + 1}}.</td>
				<td ng-click="seePlayer(x.user1Id)"><img ng-src="{{x.user1Img}}" height="80" width="60">  {{x.user1}}</img></td>
				<td>{{x.elo}}</td>
		</tr>
	</table>
	</div>
	<div style="display:none" id="l6">
		<h2>Top 10 Greatest Comebacks</h2>
	<table align="center">
		<tr>
			<th>Place</th>
			<th>Team1</th>
			<th>Team2</th>
			<th>Deficit</th>
		</tr>
		<tr ng-repeat="x in comebackarr">
				<td>{{$index + 1}}.</td>
				<td>
					<div ng-click="seePlayer(x.user1Id)"><img ng-src="{{x.user1Img}}" height="80" width="60">  {{x.user1}}</img></div>
					<div ng-click="seePlayer(x.user2Id)"><img ng-src="{{x.user2Img}}" height="80" width="60">  {{x.user2}}</img></div>
				</td>
				<td>
					<div ng-click="seePlayer(x.user3Id)"><img ng-src="{{x.user3Img}}" height="80" width="60">  {{x.user3}}</img></div>
					<div ng-click="seePlayer(x.user4Id)"><img ng-src="{{x.user4Img}}" height="80" width="60">  {{x.user4}}</img></div>
				</td>
				<td>{{x.deficit}}</td>
		</tr>
	</table>
	</div>
	<div style="display:none" id="l7">
		<h2>Top 10 Fastest Players</h2>
	<table align="center">
		<tr>
			<th>Place</th>
			<th>Player</th>
			<th>Average Time</th>
		</tr>
		<tr ng-repeat="x in fastestarr">
				<td>{{$index + 1}}.</td>
				<td ng-click="seePlayer(x.user1Id)"><img ng-src="{{x.user1Img}}" height="80" width="60">  {{x.user1}}</img></td>
				<td>{{x.avgtime}}s</td>
		</tr>
	</table>
	</div>
</div>
</div>