

<div id="StatsTable" class="container">
	<div id="statMenu" class="statClass">
	<div id="lis1" class="thumbnail">Top 10 Slowest Goals:</div>
	<div id="lis2" class="thumbnail">Top 10 Slowest Games:</div>
	<div id="lis3" class="thumbnail">Top 10 Quickest Goals:</div>
	<div id="lis4" class="thumbnail">Top 10 Quickest Games:</div>
	</div>
	<div style="display:none" id = "l1">
	<table>
		<tr>
			<th>Place</th>
			<th>Team</th>
			<th></th>
			<th>Time</th>
		</tr>
		<tr ng-repeat="x in slowgoalarr">
				<td>{{$index + 1}}.</td>
				<td><img ng-src="{{x.user1Img}}" height="80" width="60">{{x.user1}}</img></td>
				<td><img ng-src="{{x.user2Img}}" height="80" width="60">{{x.user2}}</img></td>
				<td>{{x.diffsec}}</td>
			
		</tr>
	</table>
	</div>
	
	<div style="display:none" id="l2">
		<table>
		<tr>
			<th>Place</th>
			<th>Team 1</th>
			<th>Team 2</th>
			<th>Time</th>
		</tr>
		<tr ng-repeat="x in slowgamearr">
				<td>{{$index + 1}}.</td>
				<td>
					<div><img ng-src="{{x.user1Img}}" height="80" width="60">{{x.user1}}</img></div>
					<div><img ng-src="{{x.user2Img}}" height="80" width="60">{{x.user2}}</img></div>
				</td>
				<td>
					<div><img ng-src="{{x.user3Img}}" height="80" width="60">{{x.user3}}</img></div>
					<div><img ng-src="{{x.user4Img}}" height="80" width="60">{{x.user4}}</img></div>
				</td>
				<td>{{x.diffsec}}</td>
		</tr>
		</table>
	</div>
	
	<div style="display:none" id="l3">
	<table>
		<tr>
			<th>Place</th>
			<th>Team</th>
			<th></th>
			<th>Time</th>
		</tr>
		<tr ng-repeat="x in quickgoalarr">
				<td>{{$index + 1}}.</td>
				<td><img ng-src="{{x.user1Img}}" height="80" width="60">{{x.user1}}</img></td>
				<td><img ng-src="{{x.user2Img}}" height="80" width="60">{{x.user2}}</img></td>
				<td>{{x.diffsec}}s</td>
		</tr>
	</table>
	</div>
	<div style="display:none" id="l4">
		<table>
		<tr>
			<th>Place</th>
			<th>Team 1</th>
			<th>Team 2</th>
			<th>Time</th>
		</tr>
		<tr ng-repeat="x in quickgamearr">
				<td>{{$index + 1}}.</td>
				<td>
					<div><img ng-src="{{x.user1Img}}" height="80" width="60">{{x.user1}}</img></div>
					<div><img ng-src="{{x.user2Img}}" height="80" width="60">{{x.user2}}</img></div>
				</td>
				<td>
					<div><img ng-src="{{x.user3Img}}" height="80" width="60">{{x.user3}}</img></div>
					<div><img ng-src="{{x.user4Img}}" height="80" width="60">{{x.user4}}</img></div>
				</td>
				<td>{{x.diffsec}}</td>
		</tr>
		</table>
	</div>
</div>
