<div id="container main">
<div>
	<h2 >Table Statistics</h2>
	<h3>Total games played : {{systemStats[0].TOTGAMESPLAYED}}</h3>
	<h3>Total time played: {{systemStats[0].TOTGAMETIME}}min</h3>

	
	<progress max="{{systemStats[0].TOTGAMESPLAYED}}" value="{{systemStats[0].BLACKWINS}}" ></progress>

	<div>
		<h3>Black goals</h3>
		<h3>{{systemStats[0].BLACKGOALS}}</h3>
	    	<progress max="{{systemStats[0].TOTGOALS}}" value="{{systemStats[0].BLACKGOALS}}" ></progress>
	</div>	
		
	

</div>
<div id="statMenu" >
	<h2 id="statMenuTitle">Top 10</h2>
	<div id="lis1" class="col-xs-6 col-md-3 ng-scope"><div class="thumbnail">Slowest Goals</div></div>
	<div id="lis2" class="col-xs-6 col-md-3 ng-scope"><div class="thumbnail">Slowest Games</div></div>
	<div id="lis3" class="col-xs-6 col-md-3 ng-scope"><div class="thumbnail">Quickest Goals</div></div>
	<div id="lis4" class="col-xs-6 col-md-3 ng-scope"><div class="thumbnail">Quickest Games</div></div>
	<div id="lis5" class="col-xs-6 col-md-3 ng-scope"><div class="thumbnail">Highest ELO</div></div>
	<div id="lis6" class="col-xs-6 col-md-3 ng-scope"><div class="thumbnail">Greatest Comebacks</div></div>
	<div id="lis7" class="col-xs-6 col-md-3 ng-scope"><div class="thumbnail">Fastest Players</div></div>
	<div id="lis8" class="col-xs-6 col-md-3 ng-scope"><div class="thumbnail">Slowest Players</div></div>
	<div id="lis9" class="col-xs-6 col-md-3 ng-scope"><div class="thumbnail">Most Wins</div></div>
	<div id="lis10" class="col-xs-6 col-md-3 ng-scope"><div class="thumbnail">Highest Win Percentage</div></div>
	<div id="lis11" class="col-xs-6 col-md-3 ng-scope"><div class="thumbnail">Lowest Win Percentage</div></div>
	<div id="lis12" class="col-xs-6 col-md-3 ng-scope"><div class="thumbnail">Most Scored Goals</div></div>
	<div id="lis13" class="col-xs-6 col-md-3 ng-scope"><div class="thumbnail">Most Goals Conceded</div></div>
	<div id="lis14" class="col-xs-6 col-md-3 ng-scope"><div class="thumbnail">Most Played Games</div></div>
	</div>
<div id="StatsTable" class="container">
	
	<div style="display:none" id = "l1">
	<h2 class="h2classInStats">Top 10 Slowest Goals</h2>
	<table align="center">
		<tr>
			<th>Place</th>
			<th>Team</th>
			<th></th>
			<th>Date</th>
			<th>Time</th>
		</tr>
		<tr ng-repeat="x in slowgoalarr">
				<td>{{$index + 1}}.</td>
				<td ng-click="seePlayer(x.user1Id)"><img ng-src="{{x.user1Img}}" height="80" width="60">  {{x.user1}}</img></td>
				<td ng-click="seePlayer(x.user2Id)"><img ng-src="{{x.user2Img}}" height="80" width="60">  {{x.user2}}</img></td>
				<td>{{x.date}}</td>
				<td id="lastColumn">{{x.diffsec}}s</td>
		</tr>
	</table>
	</div>
	
	<div style="display:none" id="l2">
		<h2 class="h2classInStats">Top 10 Slowest Games</h2>
	
		<table align="center">
		<tr>
			<th>Place</th>
			<th>Winning Team</th>
			<th>Losing Team</th>
			<th>Time</th>
		</tr>
		<tr ng-repeat="x in slowgamearr">
				<td>{{$index + 1}}.</td>
				<td>
					<div ng-click="seePlayer(x.user1Id)"><img ng-src="{{x.user1Img}}" height="80" width="60">  {{x.user1}}</img></div>
					<div ng-click="seePlayer(x.user2Id)"><img ng-src="{{x.user2Img}}" height="80" width="60">  {{x.user2}}</img></div>
				</td>
				<td>
					<div ng-click="seePlayer(x.user3Id)"><img ng-src="{{x.user3Img}}" height="80" width="60">  {{x.user3}}</img></div>
					<div ng-click="seePlayer(x.user4Id)"><img ng-src="{{x.user4Img}}" height="80" width="60">  {{x.user4}}</img></div>
				</td>
				<td id="lastColumn">{{x.diffsec}}s</td>
		</tr>
		</table>
	</div>
	
	<div style="display:none" id="l3">
		<h2 class="h2classInStats">Top 10 Quickest Goals</h2>
	
	<table align="center">
		<tr>
			<th>Place</th>
			<th>Team</th>
			<th></th>
			<th>Date</th>
			<th>Time</th>
		</tr>
		<tr ng-repeat="x in quickgoalarr">
				<td>{{$index + 1}}.</td>
				<td ng-click="seePlayer(x.user1Id)"><img ng-src="{{x.user1Img}}" height="80" width="60">  {{x.user1}}</img></td>
				<td ng-click="seePlayer(x.user2Id)"><img ng-src="{{x.user2Img}}" height="80" width="60">  {{x.user2}}</img></td>
				<td>{{x.date}}</td>
				<td id="lastColumn">{{x.diffsec}}s</td>
		</tr>
	</table>
	</div>
	<div style="display:none" id="l4">
		<h2 class="h2classInStats">Top 10 Quickest Games</h2>
	
		<table align="center">
		<tr>
			<th>Place</th>
			<th>Winning Team</th>
			<th>Losing Team</th>
			<th>Time</th>
		</tr>
		<tr ng-repeat="x in quickgamearr">
				<td>{{$index + 1}}.</td>
				<td>
					<div ng-click="seePlayer(x.user1Id)"><img ng-src="{{x.user1Img}}" height="80" width="60">  {{x.user1}}</img></div>
					<div ng-click="seePlayer(x.user2Id)"><img ng-src="{{x.user2Img}}" height="80" width="60">  {{x.user2}}</img></div>
				</td>
				<td>
					<div ng-click="seePlayer(x.user3Id)"><img ng-src="{{x.user3Img}}" height="80" width="60">  {{x.user3}}</img></div>
					<div ng-click="seePlayer(x.user4Id)"><img ng-src="{{x.user4Img}}" height="80" width="60">  {{x.user4}}</img></div>
				</td>
				<td id="lastColumn">{{x.diffsec}}s</td>
		</tr>
		</table>
	</div>
	<div style="display:none" id="l5">
		<h2 class="h2classInStats">Top 10 Highest ELO</h2>
	<table align="center">
		<tr>
			<th>Place</th>
			<th>Player</th>
			<th>ELO Pts</th>
		</tr>
		<tr ng-repeat="x in eloarr">
				<td>{{$index + 1}}.</td>
				<td ng-click="seePlayer(x.user1Id)"><img ng-src="{{x.user1Img}}" height="80" width="60">  {{x.user1}}</img></td>
				<td id="lastColumn">{{x.elo}}</td>
		</tr>
	</table>
	</div>
	<div style="display:none" id="l6">
		<h2 class="h2classInStats">Top 10 Greatest Comebacks</h2>
	<table align="center">
		<tr>
			<th>Place</th>
			<th>Winning Team</th>
			<th>Losing Team</th>
			<th>Goal Deficit</th>
		</tr>
		<tr ng-repeat="x in comebackarr">
				<td>{{$index + 1}}.</td>
				<td>
					<div ng-click="seePlayer(x.user1Id)"><img ng-src="{{x.user1Img}}" height="80" width="60">  {{x.user1}}</img></div>
					<div ng-click="seePlayer(x.user2Id)"><img ng-src="{{x.user2Img}}" height="80" width="60">  {{x.user2}}</img></div>
				</td>
				<td>
					<div ng-click="seePlayer(x.user3Id)"><img ng-src="{{x.user3Img}}" height="80" width="60">  {{x.user3}}</img></div>
					<div ng-click="seePlayer(x.user4Id)"><img ng-src="{{x.user4Img}}" height="80" width="60">  {{x.user4}}</img></div>
				</td>
				<td id="lastColumn">{{x.deficit}}</td>
		</tr>
	</table>
	</div>
	<div style="display:none" id="l7">
		<h2 class="h2classInStats">Top 10 Fastest Players</h2>
	<table align="center">
		<tr>
			<th>Place</th>
			<th>Player</th>
			<th>Average Time</th>
		</tr>
		<tr ng-repeat="x in fastestarr">
				<td>{{$index + 1}}.</td>
				<td ng-click="seePlayer(x.user1Id)"><img ng-src="{{x.user1Img}}" height="80" width="60">  {{x.user1}}</img></td>
				<td id="lastColumn">{{x.avgtime}}s</td>
		</tr>
	</table>
	</div>
	<div style="display:none" id="l8">
		<h2 class="h2classInStats">Top 10 Slowest Players</h2>
	<table align="center">
		<tr>
			<th>Place</th>
			<th>Player</th>
			<th>Average Time</th>
		</tr>
		<tr ng-repeat="x in slowestarr">
				<td>{{$index + 1}}.</td>
				<td ng-click="seePlayer(x.user1Id)"><img ng-src="{{x.user1Img}}" height="80" width="60">  {{x.user1}}</img></td>
				<td id="lastColumn">{{x.avgtime}}s</td>
		</tr>
	</table>
	</div>
<div style="display:none" id="l9">
	<h2 class="h2classInStats">Top 10 players with most wins</h2>
	<table align="center">
		<tr>
			<th>Place</th>
			<th>Player</th>
			<th>Wins</th>
		</tr>
		<tr ng-repeat="x in moreTop10">
				<td>{{$index + 1}}.</td>
				<td ng-click="seePlayer(x.MOSTWINSUSERID)"><img ng-src="{{x.MOSTWINSIMAGEPATH}}" height="80" width="60"></img>{{x.MOSTWINSNAME}}</td>
				<td id="lastColumn">{{x.MOSTWINS}}</td>
		</tr>
	</table>
</div>
<div style="display:none" id="l10">
	<h2 class="h2classInStats">Top 10 players with the highest win percentage</h2>
	<table align="center">
		<tr>
			<th>Place</th>
			<th>Player</th>
			<th>Percentage</th>
		</tr>
		<tr ng-repeat="x in moreTop10">
				<td>{{$index + 1}}.</td>
				<td ng-click="seePlayer(x.HIGHESTWINPERCUSERID)"><img ng-src="{{x.HIGHESTWINPERCIMAGEPATH}}" height="80" width="60"> </img>{{x.HIGHESTWINPERCNAME}}</td>
				<td id="lastColumn">{{x.HIGHESTWINPERC*100}}%</td>
		</tr>
	</table>
</div>
<div style="display:none" id="l11">
	<h2 class="h2classInStats">Top 10 players with the lowest win percentage</h2>
	<table align="center">
		<tr>
			<th>Place</th>
			<th>Player</th>
			<th>Percentage</th>
		</tr>
		<tr ng-repeat="x in moreTop10">
				<td>{{$index + 1}}.</td>
				<td ng-click="seePlayer(x.LOWESTWINPERCUSERID)"><img ng-src="{{x.LOWESTWINPERCIMAGEPATH}}" height="80" width="60"> </img>{{x.LOWESTWINPERCNAME}}</td>
				<td id="lastColumn">{{x.LOWESTWINPERC*100}}%</td>
		</tr>
	</table>
</div>
<div style="display:none" id="l12">
	<h2 class="h2classInStats">Top 10 players with most scored goals</h2>
	<table align="center">
		<tr>
			<th>Place</th>
			<th>Player</th>
			<th>Goals Scored</th>
		</tr>
		<tr ng-repeat="x in moreTop10">
				<td>{{$index + 1}}.</td>
				<td ng-click="seePlayer(x.MOSTGOALSFORUSERID)"><img ng-src="{{x.MOSTGOALSFORIMAGEPATH}}" height="80" width="60"> </img>{{x.MOSTGOALSFORNAME}}</td>
				<td id="lastColumn">{{x.MOSTGOALSFOR}}</td>
		</tr>
	</table>
</div>
</div>
<div style="display:none" id="l13">
	<h2 class="h2classInStatsBottom">Top 10 players with most scored goals against them</h2>>
<table align="center">
		<tr>
			<th>Place</th>
			<th>Player</th>
			<th>Goals Conceded</th>
		</tr>
		<tr ng-repeat="x in moreTop10">
				<td>{{$index + 1}}.</td>
				<td ng-click="seePlayer(x.MOSTGOALSAGAINSTUSERID)"><img ng-src="{{x.MOSTGOALSAGAINSTIMAGEPATH}}" height="80" width="60"> </img>{{x.MOSTGOALSAGAINSTNAME}}</td>
				<td id="lastColumn">{{x.MOSTGOALSAGAINST}}</td>
		</tr>
	</table>
</div>
<div style="display:none" id="l14">
	<h2 class="h2classInStatsBottom">Top 10 players with most games played</h2>
	<table align="center">
		<tr>
			<th>Place</th>
			<th>Player</th>
			<th>Games</th>
		</tr>
		<tr ng-repeat="x in moreTop10">
				<td>{{$index + 1}}.</td>
				<td ng-click="seePlayer(x.MOSTPLAYEDUSERID)"><img ng-src="{{x.MOSTPLAYEDIMAGEPATH}}" height="80" width="60"> </img>{{x.MOSTPLAYENDAME}}</td>
				<td id="lastColumn">{{x.MOSTPLAYEDGAMES}}</td>
		</tr>
	</table>
</div>
</div>
</div>