
<div class="container main">
<div id = "PlayWindow">

	<p class="gameClockPlay" style="">00:00</p>
	<div class="Scoreboard" style="border: 3px solid black;">
		<div class"ScoreboardMiddle">

	<div>
		<div id="scorePlay">
	      	<p id="teamScore">{{team2}} - {{team1}}</p>
		</div>
	    <div class="gameRelatedButtons">
	    	<button class="btn btn-lg" id="startGame" ng-click="createGame()">Start game</button>
			<button class="btn btn-lg" id="newGame" ng-click="newGame()">Select new players</button>
			<button class="btn btn-lg" id="Rematch" ng-click="rematch()">Switch sides</button>
	    </div>
	</div>

		<!-- Button trigger modal -->
	    	<button type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#myModal" id="modalButtonEndGame">
			  END GAME
			</button>
			<!-- Modal -->
			<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			  <div class="modal-dialog">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        <h3 class="modal-title" id="myModalLabel">ARE YOU SURE YOU WANT TO END THE GAME?</h3>
			      </div>
			      <div class="modal-body">
			        Ending the game will discard the game and the goals and all possible ELO changes will be discarded
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-primary btn-lg" data-dismiss="modal">Cancel</button>
			        <button ng-click="endGame()" type="button" class="btn btn-danger btn-lg" data-dismiss="modal">END GAME</button>
			      </div>
			    </div>
			  </div>
			</div>

	    <div id="player21">
	    	<h3 id="playerName">{{player21.Name}}</h3>
	    	<img src="{{player21.ImagePath}}" ng-click="clickplayer(21)" id="tablePlayer">
	    </div>

		<img id="blueTeam" src="images/blueTeam.png" >	

	    <div id = "player22">
	    	<img src="{{player22.ImagePath}}" ng-click="clickplayer(22)" id="tablePlayer">
	    	<h3 id="playerName">{{player22.Name}}</h3>
	    	
	    </div>
		
		<div id = "player11">
			<h3 id="playerName">{{player11.Name}}</h3>
			<div>
			<img src="{{player11.ImagePath}}" ng-click="clickplayer(11)" id="tablePlayer" style="float:right;">
			</div>
		</div>

		
		<img id="blackTeam" src="images/blackTeam.png" >

		<div id = "player12">
			<div style="height:119px; width:100%">
			<img src="{{player12.ImagePath}}" ng-click="clickplayer(12)" id="tablePlayer" style="float:right;">
			</div>
			<h3 id="playerName">{{player12.Name}}</h3>
		</div>
</div>
</div>
</div>
</div>

<style>
.ng-scope{
  height: 100%;
}
</style>
