
<div class="container main">
<div id = "homeWindow">

	<div class="countdown"></div>
	<div class="Scoreboard">
		<div style="height:100%; width:60%; margin-left:auto; margin-right:auto; border: 1px solid black;">

		<div id="score">
	      	<h1 id="team2" style="position:absolute; left:0;"/>
	      	<h1 id="team1" style="position:absolute; right:0;"/>
	      	
	    </div>
	    <div class="gameRelatedButtons">
	    	<!-- Button trigger modal -->
	    	<button type="button" class="btn btn-danger btn-lg" data-toggle="modal" data-target="#myModal" id="modalButtonEndGame">
			  END GAME
			</button>
			<!-- Modal -->
			<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			  <div class="modal-dialog">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        <h3 class="modal-title" id="myModalLabel">ARE YOU SURE YOU WANT TO END THE GAME?</h3>
			      </div>
			      <div class="modal-body">
			        Ending the game will discard the game and the goals and all possible ELO changes will be discarded
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-primary btn-lg" data-dismiss="modal">Cancel</button>
			        <button ng-click="endGame()" type="button" class="btn btn-danger btn-lg" data-dismiss="modal">END GAME</button>
			      </div>
			    </div>
			  </div>
			</div>
	    	<button class="btn btn-lg" id="startGame" ng-click="createGame()">Start game</button>
			<button class="btn btn-lg" id="newGame" ng-click="newGame()">Select new players</button>
			<button class="btn btn-lg" id="Rematch" ng-click="rematch()">Rematch</button>
	    </div>

	    <div id="player21">
	    	<img src="{{player21.ImagePath}}" ng-click="clickplayer(21)" id="tablePlayer">
	    	<h3 id="playerName">{{player21.Name}}</h3>
	    </div>

		<img id="blueTeam" src="images/blueTeam.png" >	 	

	    <div id = "player22">
	    	<h3 id="playerName">{{player22.Name}}</h3>
	    	<img src="{{player22.ImagePath}}" ng-click="clickplayer(22)" id="tablePlayer">
	    	
	    </div>
		
		<div id = "player11">
			<img src="{{player11.ImagePath}}" ng-click="clickplayer(11)" id="tablePlayer">
			<h3 id="playerName">{{player11.Name}}</h3>
		</div>

		
		<img id="blackTeam" src="images/blackTeam.png" >

		<div id = "player12">
			<h3 id="playerName">{{player12.Name}}</h3>
			<img src="{{player12.ImagePath}}" ng-click="clickplayer(12)" id="tablePlayer">
			
		</div>


		
		
		
			</div>

	

</div>
</div>