
<div class="container main">
<div id = "homeWindow">

	<div class="countdown"></div>
	<div class="Scoreboard">
		<div style="height:100%; width:60%; margin-left:auto; margin-right:auto; border: 1px solid black;"></img>
		<div id="score">
	      	<h1 id="team1" style="position:absolute; left:0;"/>
	      	<h1 id="team2" style="position:absolute; right:0;"/>
	    </div>
		<img src="{{player11.ImagePath}}" ng-click="clickplayer(11)" style="position: absolute; top: 2%; left: 2%;">
		<img src="{{player12.ImagePath}}" ng-click="clickplayer(12)" style="position: absolute; bottom: 2%; left: 2%;">
		<img src="{{player21.ImagePath}}" ng-click="clickplayer(21)" style="position: absolute; top: 2%; right: 2%;">
		<img src="{{player22.ImagePath}}" ng-click="clickplayer(22)" style="position: absolute; bottom: 2%; right: 2%;">
	</div>

	<button id="startGame" ng-click="createGame()">Start</button>
	<button id="newGame" ng-click="newGame()">newGame</button>
	<button id="Rematch" ng-click="rematch()">Rematch</button>

</div>
</div>