<div class="container main">
	<div class="profile">
		<div class="profileInfo col-md-3">
			<h1 >{{user[0].NAME}}</h1>
			<div>
				<h3 class="userH4" ng-cloak ng-show="noGamesPlayedError != ''"> 
					Rank: {{noGamesPlayedError}}
				</h3>
				<h3 class="userH4" ng-cloak ng-show="noGamesPlayedError == ''">Rank: {{user[0].ELORANKING}}</h3>
				<h3>ELO : {{user[0].ELO | number:0}}</h3>
				<h3>Games Played : {{user[0].NOGAMES}}</h3>
			</div>
		</div>
		<div class="profileImg col-md-3">
			<img class="actualImg" src="{{user[0].IMAGEPATH}}" ></img>
			<div class="userButtons">
				<button class="userButts" ng-click="editUser()">Edit user</button><br>
				<button class="userButts" ng-click="changePassword()">Change password</button>
			</div>
		</div>
	</div>
	<h3 class="headerForScore">Game played</h3>
	<div class="scoreProgress">
		
		<div class="spText">
			<p style="text-align: center;">Won</p>
		</div>
		<div class="spText" style="width: 60%; text-align:center;">
			<p>{{winp}} %</p>
		</div>
		<div class="spText">
			<p style="text-align: center;"> Lost</p>
		</div>

		<div class="spText">
		<p style="text-align: center;"> {{user[0].TOTWINS}}</p>
		</div>
		<div class="spBar">
			<div class="progress progressbar">
	    		<div class="progress-bar progress-bar-custom" role="progressbar" style="width: {{user[0].TOTWINS/user[0].NOGAMES*100}}%;">
	        		<span class="sr-only">54% Complete</span>
	    		</div>
			</div>
		</div>
		<div class="spText">
			<p style="text-align: center;"> {{user[0].NOGAMES - user[0].TOTWINS}}</p>
		</div>
	</div>
	<h3 class="headerForScore">Goals scored</h3>
	<div class="scoreProgress">
		<div class="spText">
			<p style="text-align: center;">For</p>
		</div>
		<div class="spText" style="width: 60%; text-align:center;">
			<p>{{user[0].GOALSFOR - user[0].GOALSAGAINST}}</p>
		</div>
		<div class="spText">
			<p style="text-align: center;"> Against</p>
		</div>

		<div class="spText">
		<p style="text-align: center;"> {{user[0].GOALSFOR}}</p>
		</div>
		<div class="spBar">
			<div class="progress progressbar">
	    		<div class="progress-bar progress-bar-custom" role="progressbar" style="width: {{user[0].GOALSFOR/user[0].TOTGOALSSCORED*100}}%;">
	        		<span class="sr-only">54% Complete</span>
	    		</div>
			</div>
		</div>
		<div class="spText">
			<p style="text-align: center;"> {{user[0].GOALSAGAINST}}</p>
		</div>
	</div>

	<div class="usersTop">
		<div class="col-md-3" style="border: solid black 2px;">
			<p class="centeredT">Best Partner</p>
			<div class="easiest" ng-repeat="x in user">
				<div class="Users bull" ng-click="goToPlayer(x.BESTPARTNERID);">
					<img class ="profilePic" ng-src="{{x.BESTPARTNERIMAGEPATH}}"></img>
					<p>{{x.BESTPARTNERNAME}}</p>
					<p>{{x.BESTPARTNERGAMES}}</p>
					<p>{{x.BESTPARTNERWINS}}</p>
					<p>{{x.BESTPARTNERPERCENTAGE}}</p>
				</div>
			</div>
		</div>

		<div class="col-md-3" style="border: solid black 2px;">
			<p class="centeredT">Toughest opponent</p>
			<div class="easiest" ng-repeat="x in user">
				<div class="Users bull" ng-click="goToPlayer(x.TOUGHESTOPPONENTID);">
					<img class ="profilePic" ng-src="{{x.TOUGHESTOPPONENTIMAGEPATH}}"></img>
					<p>{{x.TOUGHESTOPPONENTNAME}}</p>
					<p>{{x.TOUGHESTOPPONENTGAMES}}</p>
					<p>{{x.TOUGHESTOPPONENTWINS}}</p>
					<p>{{x.TOUGHESTOPPONENTPERCENTAGE}}</p>
				</div>
			</div>
		</div>

		<div class="col-md-3" style="border: solid black 2px;">
			<p class="centeredT">Easiest opponent</p>
			<div class="easiest" ng-repeat="x in user">
				<div class="Users bull" ng-click="goToPlayer(x.EASIESTOPPONENTID);">
					<img class ="profilePic" ng-src="{{x.EASIESTOPPONENTIMAGEPATH}}"></img>
					<p>{{x.EASIESTOPPONENTNAME}}</p>
					<p>{{x.EASIESTOPPONENTGAMES}}</p>
					<p>{{x.EASIESTOPPONENTWINS}}</p>
					<p>{{x.EASIESTOPPONENTPERCENTAGE}}</p>
				</div>
			</div>
		</div>

		<div class="col-md-3" style="border: solid black 2px;">
			<p class="centeredT">Worst partner</p>
			<div class="easiest" ng-repeat="x in user">
				<div class="Users bull" ng-click="goToPlayer(x.WORSTPARTNERID);">
					<img class ="profilePic" ng-src="{{x.WORSTPARTNERIMAGEPATH}}"></img>
					<p>{{x.WORSTPARTNERNAME}}</p>
					<p>{{x.WORSTPARTNERGAMES}}</p>
					<p>{{x.WORSTPARTNERWINS}}</p>
					<p>{{x.WORSTPARTNERPERCENTAGE}}</p>
				</div>
			</div>
		</div>
	</div>
<!--
	<ul style="margin-top:40px;">
    	<li ng-repeat="(key,val) in user[0]">{{key}}: {{val}}</li>
	</ul>-->
</div>